{% extends 'base_back.html.twig' %}

{% block title %}Mi cuenta{% endblock %}

{% block body %}
    <h1>Mi cuenta</h1>

    {{ include('usuario/_form.html.twig', {'button_label': 'Guardar cambios'}) }}

    {{ include('usuario/_delete_form.html.twig', {'button_label': 'Borrar cuenta'}) }}
{% endblock %}
