{% extends 'base.html.twig' %}

{% block title %}New Usuario{% endblock %}

{% block body %}
    <div class="register-photo">
        <div class="form-container" style="max-width: none;width: 90%;height: 470px;">
            <div class="image-holder" style="width: 40%;"></div>
            <form method="post" style="width: 40%;height: 460px;">
                <h2 class="text-center"><strong>¡Crea tu perfil!</strong></h2>
                {{ include('usuario/_registro.html.twig') }}
                
            </form>
        </div>
    </div>

{% endblock %}
