{% extends 'base_back.html.twig' %}

{% block title %}Edit Inmobiliaria{% endblock %}

{% block body %}
    <h1>Gestionar inmobiliaria</h1>

    {{ include('inmobiliaria/_form.html.twig', {'button_label': 'Guardar cambios'}) }}

{% endblock %}
