<form method="post" action="{{ path('favorito_delete', {'id': favorito.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ favorito.id) }}">
    <button class="btn btn-danger">Eliminar</button>
</form>
