{% extends 'base.html.twig' %}

{% block title %}Edit Favorito{% endblock %}

{% block body %}
    <h1>Edit Favorito</h1>

    {{ include('favorito/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('favorito_index') }}">back to list</a>

    {{ include('favorito/_delete_form.html.twig') }}
{% endblock %}
