{{ form_start(form_contacto) }}
    {{ form_widget(form_contacto) }}
    <button class="btn btn-primary col-md-12">{{ button_label|default('Enviar contacto') }}</button>
{{ form_end(form_contacto) }}
