{% extends 'base_back.html.twig' %}

{% block title %}New Inmueble{% endblock %}

{% block body %}
<a class="btn btn-light" href="{{ path('inmueble_index', {id: app.session.get('usuario_id')}) }}"><i class="fa fa-arrow-left"></i></a>
    <h1>Nuevo inmueble</h1>

    {{ include('inmueble/_form.html.twig') }}

    
{% endblock %}

