{% extends 'base_back.html.twig' %}

{% block title %}Edit Cita{% endblock %}

{% block body %}
    <a class="btn btn-light" href="{{ path('cita_show', {id: idCita}) }}"><i class="fa fa-arrow-left"></i></a>
    
    <h1>Editar cita</h1>

    {{ include('cita/_form.html.twig', {'button_label': 'Actualizar'}) }}

    

    {{ include('cita/_delete_form.html.twig') }}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/cita/cita.js') }}"></script>
{% endblock %}
