{% extends 'base_back.html.twig' %}

{% block title %}Citas{% endblock %}

{% block body %}
    <h1>Citas</h1>
    <input type="hidden" value="{{ id_usuario }}" id="idUsuario"/>
    <div class="monthly" id="mycalendar"></div>
    {% if app.session.get('usuario_inmobiliaria') %}
        <a class="btn btn-light" href="{{ path('cita_new') }}">Añadir cita</a>
    {% endif %}
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/calendar/monthly.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/cita/cita.js') }}"></script>
{% endblock %}
